[2014-06-27 14:52] technicalpickles opened #7 "Sanity check `/pager me N`, in case it's accidentally used to ack/resolve something"
We've seen times when someone goes like:

[code]

... while attempting to acknowledge the 1234 incident. Instead, this adds a schedule override for the user for 1234 minutes. Incident numbers are much higher, which could lead to several weeks of schedule being override. This could be particularly disasterous if multiple groups are within the PagerDuty account, without overlap in skill sets.

Some

[2014-06-30 20:54] technicalpickles opened #9 "Update `/pager sup` to only show your assigned tickets"
Since  https://github.com/hubot-scripts/hubot-pager-me/pull/4, `ack` and `resolve` will only act on your own incidents by default. They support `ack!` and `resolve!` to disregard that.

I think it'd make sense to keep parity of those for `/pager sup` to list only your things, with a `!` version listing them all.

[2014-07-09 16:57] technicalpickles opened #10 "After acking or resolving, show all open incidents"
If someone is paged, and they are in chat, it's usually easiest to just `/pager ack` from chat.  The only output is a list of incident numbers acknowledged. So, usually there's a follow up `/pager sup` to see open list.

It'd be cool to include this by default. Or, if not that, then at least have a short summary of what's triggered vs acknowledged.

cc @jnewland @jssjr

[2014-09-19 21:41] rothsa opened #14 "Figure out and fix why `/pager override` command is failing."
I ran these commands in +Infrastructure:

[code]

There was no response from hubot in Chat to these commands. When I checked in https://github.pagerduty.com/schedules#?offset=5 to see if the commands had worked but not returned a log, I saw that the first one had changed, but not the second. (The first change may have been a manual override by @azizshamim and he didn't mention it)

cc @dbussink as

[2014-09-23 19:40] #14 closed, assigned to nobody

[2014-10-27 17:55] 7h3kk1d opened #16 "Multiple people on schedule"
Is there any way to show multiple people on schedule?

[2014-12-16 16:01] #16 closed, assigned to nobody

[2014-12-18 01:00] mwarkentin opened #25 "Allow scheduling maintenance windows"
* https://developer.pagerduty.com/documentation/rest/maintenance_windows/create

I guess maybe the reason this hasn't been done is because it's on a per-service basis?

[2014-12-20 01:09] jasonrudolph opened #27 "Pager override should prompt you to use `pager me as`"
When I ran the following command:

    /pager me redacted 180

I got this error:

Sure enough, that's not my email address on PagerDuty. To resolve the issue, I needed to run this command:

    /pager me as <actual-email-address>

In talking with @technicalpickles, he said:

When the override command can't find your user in PagerDuty, it would be :sparkles: if it prompted to you use `/pager me as`

[2014-12-23 21:14] mahmoudimus opened #28 "HUBOT_PAGERDUTY_API_KEY should be optional, pagerDutyApiKey should be per user if robot brain is active"
It's important to know from the pagerduty service who is initiating what, we can get auditing for free if we allow users to set their pagerduty api key directly instead of a global environment variable.

I'm happy to make a pull request if this might be considered as a good feature.

[2014-12-24 09:07] #28 closed, assigned to nobody

[2015-01-09 22:10] mwarkentin commented on #25
@technicalpickles Any chance you could take a look at this?

[2015-02-05 07:49] stephenyeargin opened #29 "Slack adapter and 'pager me as ...'"
I think there may be a compatability issue with the Slack adapter. Oddly, it appears to allow a `!pager ack` command to go through (with the same warning) but not to append notes.

[code]

[2015-02-05 07:51] stephenyeargin commented on #29
Dupe #24

[2015-02-05 19:05] stephenyeargin commented on #29
So I will call this still an ongoing issue, but I'm still not certain it should attempt to be fixed here or upstream. I updated to use `3.2.1` of the Slack adapter (which includes the patch referenced) and it seems to still be adding some bonus content to the brain store.

![](http://cl.ly/image/392T1m3h1y03/Image%202015-02-05%20at%201.02.15%20PM.png)

Ref: https://github.com/slackhq/hubot-slack/p

[2015-02-20 04:51] stephenyeargin opened #31 "[Feature] Add ability to restrict activity to certain services"
We have 17 PagerDuty services set up, and some of them can trigger hundreds of errors a day (most auto-resolve quickly). _Editor's note: I could get into the folly of using PagerDuty as a log stashing replacement, but I digress._ The API can only match on incidents that appear on the first page of a list of incidents, and it can only retrieve a maximum of 100 incidents at a time. We have two or th

[2015-02-20 14:39] jnewland commented on #31
Sounds great to me!

[2015-02-20 23:09] technicalpickles commented on #31
This seems reasonable.

Another idea I might suggest is https://github.com/hubot-scripts/hubot-pager-me/issues/9 , which would exclude things not assigned to you. If those other services you mentioned aren't triggering alerts assigned to you, then you wouldn't see them.

[2015-02-28 05:26] stephenyeargin commented on #29
They released the updated adapter today. For anyone who comes across this issue, ensure you are running at least `"hubot-slack": "3.3.0",`.

[2015-02-28 05:26] #29 closed

[2015-03-06 23:54] #31 closed

[2015-03-20 18:51] #25 closed

[2015-03-20 18:51] technicalpickles commented on #9
This would also mirror the newish behavior on pagerduty.com, where you see your incidents first by default.

[2015-03-26 19:36] parkr opened #39 "Filter links?"
Yo,

Using hubot-pager-me in Slack. Not sure if this is a problem with the slack adapter or something that can be done here, but Hubot receives formatted messages for emails:

[code]

Would it be possible to filter the user here or allow us to default the user domain like:

[code]

[2015-03-26 19:49] parkr commented on #39
Upgrade to hubot-slack v3.3.

https://github.com/slackhq/hubot-slack/issues/152

[2015-03-26 19:49] #39 closed

[2015-05-13 19:36] mcg opened #40 "Case sensitivity of schedule names"
This is likely a limitation with the PD API, but it would be helpful if "who is on call for *schedule*" didn't care about the case of the schedule name.  For example we have a "SysOps" schedule and "who is on call for sysops" doesn't find it, but "who is on call for SysOps" does.

[2015-05-26 18:28] technicalpickles commented on #40
I think the code for this is around https://github.com/hubot-scripts/hubot-pager-me/blob/master/src/scripts/pagerduty.coffee#L601-L607 . Should be able to just change `==` to compare the lowercased query to the lowercased name.

That assumes that the PagerDuty API isn't case-sensitive, and that it doesn't allow you to have two schedules like "schedule" and "SCHEDULE".

[2015-06-06 01:58] technicalpickles commented on #40
@stephenyeargin I've posthumously added you as a collaborator for your work in https://github.com/hubot-scripts/hubot-pager-me/pull/30 and https://github.com/hubot-scripts/hubot-pager-me/pull/32 . If you send me your npm login, I can add you so you can release.

Some notes & advice around that: continue to use PRs for the extra :eyes: . Use [semantic versioning](http://semver.org/). You can releas

[2015-06-06 04:23] stephenyeargin commented on #40
Cool. I'll take a look at this as well. My NPM username is same as :octocat:

[2015-06-06 17:56] stephenyeargin commented on #40
Addressed in #41.

[2015-06-06 20:04] technicalpickles commented on #40
Added!

[2015-06-07 02:58] #40 closed

[2015-06-08 14:08] mcg commented on #40
Fix seems to work great, thanks!

[2015-06-08 14:11] mcg opened #43 "Doesn't return all on-call schedules"
We have a large number of on-call schedules. "Who is on call" only lists some subset. My guess is that we are only getting the first "page" of results from the PD API and pagination is not being used. See "This action is paginated. See the pagination documentation for details." here,
https://developer.pagerduty.com/documentation/rest/schedules/list

[2015-06-08 14:14] mcg commented on #43
Also forgot to mention that the returned subset of results are different each time "who is on call" is used.

[2015-06-08 14:40] technicalpickles commented on #43
The default (in most places) is 100 results. This script currently uses `msg.send` for each schedule found which could flood a channel/room/whatever, so that might need to be revisited as part of this.

[2015-06-08 14:49] technicalpickles commented on #40
This was released in 2.1.3.

[2015-09-05 23:11] danoc opened #46 ""Who's on call" returns separate messages for each result"
We have 15+ rotations, so the script sends many messages at once which kills Hubot because of Slack rate-limiting. It'd be great if it sent all of the rotations in one message.

[2015-09-06 00:54] technicalpickles commented on #46
This is tangentially related to https://github.com/hubot-scripts/hubot-pager-me/issues/46 for not returning all results.

[2015-09-06 02:26] danoc commented on #43
@technicalpickles – Any chance this will be worked on? Or tips on how to fix it? Spent about two hours trying to fix this with no luck.

[2015-09-06 02:26] danoc commented on #46
I think you mean #43. I'll close this since they seem somewhat duplicated.

[2015-09-06 02:26] #46 closed

[2015-09-06 05:17] danoc opened #47 ""Who is on call for xyz?" regex should not capture question mark"
Currently "Who is on call for mobile?" searches PagerDuty for "mobile?", not "mobile."

Here is a regex that only captures the relevant group:
http://rubular.com/r/iXOlyYDx7o

Let me know if you would like me to submit a PR.

[2015-09-06 05:21] danoc commented on #43
@technicalpickles – I eventually fixed it on my end on a heavily modified fork of this repo: https://github.com/optimizely/hubot-pager-me/blob/devel/src/scripts/pagerduty.coffee

I also eliminated most of the features since we only want the "who is on call" functionality.

The code isn't very elegant but it works (and I already spent way too long working on it :smile:)!

[2015-09-17 15:32] stephenyeargin commented on #47
PRs always welcome!

[2015-09-17 15:41] stephenyeargin opened #49 "Test coverage for commands"
This package is getting a bit unwieldy with new commands and lacks spec coverage. As important as it is to a lot of folks using it, it would be worthwhile to investigate getting a mocking layer between the package script and the PagerDuty API so we can run a more robust test suite than "does our regex match?"

@rick has done some pretty solid work with getting a `graph-me` clone testable. We may b

[2015-09-30 17:47] technicalpickles commented on #49
Totally agree. This script has grown a lot over time, and could use some cleanups in general. I think it'd be worthwhile to extract the PagerDuty API integration out of this, and then use stubs for testing like you said.

[2015-09-30 22:54] technicalpickles opened #51 "`hubot pager incident` matches multiple listeners"
I noticed this while refactoring some other things:

[code]

I think it's just a matter of doing `msg.finish()` in the incident listener.

[2015-10-01 14:27] technicalpickles commented on #49
https://github.com/poetic/nock-vcr-recorder might be useful for testing the API interactions

[2015-10-01 15:10] technicalpickles opened #53 ""pagerduty registers a pager on call listener" test failure"
Seem
[code]

Will need to git-bisect to find when it was introduced, but possible related to https://github.com/hubot-scripts/hubot-pager-me/pull/45 ?

[2015-10-09 19:41] technicalpickles commented on #43
@danoc I took a look at your fork, and I'm not seeing anything obvious that fixes the issue you reported. I would have guessed that we needed to deal with pagination or something, but I don't see code for that. Interestingly, I've been working on some refactorings that also use the `async` module.

[2015-10-15 19:49] danoc commented on #43
@technicalpickles I guess my issue may be a little different. We only have around 20 schedules, but flooding Slack with that many `msg.send`'s would cause Hubot to crash before printing all of the schedules.

My solution uses `async.map` to loop through the schedules, get an array of who is on call messages, and then join that array and only print it once: https://github.com/optimizely/hubot-pager

[2015-10-15 20:50] technicalpickles commented on #43
That's exactly what https://github.com/hubot-scripts/hubot-pager-me/pull/50 does too :grin:

[2015-10-15 22:52] danoc commented on #43
@technicalpickles Heh, awesome. Thanks! I guess my issue is different then.

[2015-10-21 16:51] technicalpickles opened #55 "Show found schedules when an exact isn't found"
![](http://cl.ly/image/3V423B2y1p1K/Image%202015-10-21%20at%2012.51.08%20PM.png)

Once you get this, the next step is to `/pager schedules` to get the list. It'd be a better experience to just list out the ones that were matched.

[2015-10-30 15:25] d4v3y0rk opened #57 "pager ack! 400 error"
I am getting this error when I am doing a `Hubot pager ack!`

Everything works fine when I do a `Hubot pager ack <incident number>`

https://gist.github.com/d4v3y0rk/2edb0cab3e324e9ef05b

[code]

[2015-10-30 15:35] stephenyeargin commented on #57
May be related to #56 (/cc @codywilbourn) -- planning to ship a patch today if there aren't any objections.

[2015-10-30 15:59] codywilbourn commented on #57
Yes this is the same issue I ran in to. `ack <num>` works, `ack` and `ack!` do not.

[2015-10-30 16:00] #57 closed

[2015-10-30 16:02] stephenyeargin commented on #57
Fixed in `v2.1.7`

[2015-11-03 19:20] d4v3y0rk opened #59 "who is on call not working"
I am getting this when I use `who is on call` after updating to [v2.1.7](https://github.com/hubot-scripts/hubot-pager-me/tree/v2.1.7)
[code]

[2015-11-03 21:28] davewongillies opened #60 "Acknowledging incidents doesn't work"
Issuing the command `pager ack` to acknowledge unacknowleged incidents no longer works. In the logs all I see is these errors when issuing the command to hubot:
[code]
If I issue `pager ack <incident no>` it works though

[2015-11-03 21:35] davewongillies commented on #60
Whoops, I see there was a fix a couple of days ago. Sorry.

[2015-11-03 21:35] #60 closed

[2015-11-04 16:07] #59 closed

[2015-11-16 19:36] TheFynx opened #64 "pager schedule $SCHEDULE no longer returns anything"
With 2.18, you can no longer return a specific schedule, merge [63](https://github.com/hubot-scripts/hubot-pager-me/pull/63) refactored most of this functionality, I  think there's still a rogue reference to the [oneScheduleMatching](https://github.com/mmrobins/hubot-pager-me/blob/master/src/scripts/pagerduty.coffee#L720) variable that was changed in the aforementioned merge.

[2015-11-16 21:54] aaronblythe commented on #64
:+1: Looks good.

[2015-11-16 22:12] stephenyeargin commented on #64
Fixed via #65

[2015-11-16 22:12] #64 closed

[2015-11-16 23:07] mmrobins commented on #64
was gonna look tonight, but glad @TheFynx got a fix in so quick, thx.  It's hard to modify code without tests like this.

[2015-11-16 23:27] TheFynx commented on #64
@mmrobins well, I may have not fixed it completely. I'll continue testing, but seems some of the stuff doesn't like hipchat. who's on call for <schedule> has issues and it won't return schedule <schedule> in hipchat (too many adapters...). I'll do some more testing and open up another issue.

[2015-11-17 09:47] ingardm opened #67 "hubot pager schedule myschedule fails"
The following error appears on the console:
[Tue Nov 17 2015 10:44:16 GMT+0100 (CET)] ERROR TypeError: undefined is not a function
  at SlackBot.send (/home/ingard/src/chatops/hubot/node_modules/hubot-slack/src/slack.coffee:217:47, <js>:265:19)
  at Response.send (/home/ingard/src/chatops/hubot/node_modules/hubot/src/response.coffee:22:5, <js>:20:47)
  at /home/ingard/src/chatops/hubot/node_module

[2015-11-17 14:46] stephenyeargin commented on #67
Just to help debug, can you check which version of the package your Hubot is using? We have released several patches in the last few days.

[2015-11-17 17:40] ingardm commented on #67
hubot-pager-me@2.1.9 node_modules/hubot-pager-me

[2015-11-17 17:46] stephenyeargin commented on #67
Cool, that's the latest, so the bug must be in `master`. And was this your call to the bot?

`User> hubot pager schedules`

I know that @TheFynx and @mmrobins have been working with that particular call (and some related bugs), so I'm CC'ing them on this one.

[2015-11-17 23:13] mmrobins commented on #67
argh, took me awhile to reproduce since at first I was just testing with `/.bin/hubot`, but hit it quickly once I finally tried to upgrade my hubot to 2.1.9.  It's because I left some debug output in that doesn't blow things up in console, but does in at least the slack adapter.

[2015-11-18 12:53] ingardm commented on #67
@stephenyeargin yes I did hubot: pager schedule mysched

[2015-11-18 12:59] ingardm commented on #67
I can confirm the fix mentioned by @mmrobins works for me also

[2015-11-18 20:11] #67 closed

[2015-11-18 20:12] stephenyeargin commented on #67
Fixed in `v2.1.10`

[2015-11-18 22:10] aknapp opened #69 "Unable to trigger on a schedule"
After upgrading to `2.1.10`, I'm unable to trigger on a schedule:

`<bot> pager trigger <schedule> test`

results in:

[code]

[2015-11-18 22:10] aknapp commented on #69
FWIW, triggering on a individual still works fine.

[2015-11-19 21:41] stephenyeargin commented on #69
If you have a moment, can you see if `v2.1.7` has this issue? I know @mmrobins made some minor changes in #63 that may have affected schedule matching, but I can't spot an obvious issue.

[2015-11-19 22:41] mmrobins commented on #69
I'm still able to trigger on a schedule just fine in 2.1.10

    matt.robinson [4:19 PM]
    pager trigger dev platform test
    hubotBOT [4:19 PM]
    @matt.robinson: :pager: triggered! now assigning it to the right user...
    @matt.robinson: :pager: assigned to Dev Platform!

I'll look through the stack trace to see if anything stands out, but nothing does on first glance.

[2015-11-20 16:59] aaronblythe commented on #69
The line from the call stack appears to be:

    if json.entries and json.entries.length > 0

If the intention is to short circuit, should '&&' be used instead of 'and'?  This may just push the error, I have yet to test.

[2015-11-20 18:33] shraddhabhata commented on #69
I would put console log on json and use &&

[2015-11-20 18:47] stephenyeargin commented on #69
Not 100% sure, but Coffeescript's [documentation](http://coffeescript.org/#operators) indicates the two are analogous.

[2015-11-24 18:52] stephenyeargin commented on #69
Fixed in #70, released in `v2.1.11`

[2015-11-24 18:52] aaronblythe commented on #69
Sorry I read the errors in the wrong order.  It looks like in some cases the schedule is an a regular Object, and in some (this one) it is an object.  I am unsure if the first object in the array is appropriate, however PR #70 gets me to successfully triggering an incident.  (NOTE: in my haste i send string in the PR and commit message where I meant object)

[2015-11-24 18:52] aknapp commented on #69
Awesome, thanks everyone!

[2015-11-24 20:58] aknapp commented on #69
FWIW, I still get a error when I try to trigger a page based on a schedule:

[code]

[2015-11-24 21:17] aaronblythe commented on #69
Out of curiosity, what do you get when you run:

    hubot pager schedules

I get that same error if I don't use a schedule that matches something that is returned from the above command.  Say for example:

    hubot pager trigger made_up_schedule test message

Likely there could be better error handling in the code for this case.

[2015-11-24 21:20] aaronblythe commented on #69
Also from the README:

    HUBOT_PAGERDUTY_USER_ID - The user id of a PagerDuty user for your bot. This is only required if you want chat users to be able to trigger incidents without their own PagerDuty user

Just want to check that you have this set, because that was my original problem that I believe was manifesting as a similar error to your original post.

[2015-11-24 21:21] aknapp commented on #69
Ah, good call. It works if I use the exact name of the schedule (case, etc), but not when I don't.

My schedule name is, exactly, `AllOfTechops`; when I try it on `alloftechops`, I get the error.

[2015-11-24 21:22] aknapp commented on #69
Oh, I misspoke. I don't get an error when it's not exact, it just returns nothing. I suppose that is expected?

[2015-11-24 21:28] aaronblythe commented on #69
Expectation from the README is that there are two lines of feedback:

    technicalpickles> hubot pager trigger ops site is down
    hubot> Shell: :pager: triggered! now assigning it to the right user...
    hubot> Shell: :pager: assigned to ops!

I get:

    Hubot> hubot pager trigger ATRotation test if trigger works
    Hubot> Shell: :pager: triggered! now assigning it to the right user...
    S

[2015-11-24 21:32] aknapp commented on #69
We currently have 15 schedules. I do get that feedback if I specify the exact name of the schedule (it pages correctly), but I used the right name but a different case, it doesn't work. Not sure if that is expected behavior.

[2015-11-25 03:53] aaronblythe commented on #69
Created a pull request #71 to give better feedback when the schedule cannot be resolved.  This should short circuit before the error about "Cannot read property 'id' of undefined" and allow the chat user to know what to try next.

[2015-11-25 21:41] aaronblythe commented on #51
I played with this in the debugger, I believe this is because this is triggering both:

    robot.respond /(pager|major)( me)? incident (.*)$/i, (msg)
    ...
    robot.respond /pager( me)? (.+) (\d+)$/i, (msg)

If I run the command over and over I do not always get the same order of the responders picking up.  The former is the one that it should trigger and the latter is either too inclusive of

[2015-11-25 21:43] aaronblythe commented on #53
I believe this is resolved in PR #66

[2015-12-03 18:21] stephenyeargin commented on #69
@aknapp / @aaronblythe : #71 has shipped. This good to close?

[2015-12-03 18:22] stephenyeargin commented on #51
Fixed with #72

[2015-12-03 18:22] #51 closed

[2015-12-03 18:23] #53 closed

[2015-12-03 18:24] stephenyeargin commented on #47
Fixed with #73, released in `v2.1.12`.

[2015-12-03 18:24] #47 closed

[2015-12-03 18:25] stephenyeargin commented on #27
Fixed with #74, released in `v2.1.12`

[2015-12-03 18:25] #27 closed

[2015-12-09 03:25] aknapp commented on #69
I think this is good to close. I've installed the newest version and it works as expected.

[2015-12-09 03:26] stephenyeargin commented on #69
:+1:

[2015-12-09 03:26] #69 closed

[2015-12-22 17:58] mtscout6 opened #76 "Feature Request: Enable Service to Room map so specific teams can handle issues for specific services"
We have numerous development teams that we would like to integrate PagerDuty with. It seems as though using this plugin would allow us to have more support staff deal with issues without the Full PagerDuty experience.

Unfortunately due to the number of services we need to monitor it would be ideal if these services could be announced in different rooms. Is that a feature that would have merit wit

[2015-12-22 18:05] stephenyeargin commented on #76
I'm guessing that you are using the [webhook callback](https://github.com/hubot-scripts/hubot-pager-me#webhook), correct? How would you like to go about mapping services to rooms via the environment variables? (e.g. `HUBOT_PAGERDUTY_ROOM=<service_id>:<room>,<service_id>:<room>`)

Full disclaimer: I don't have a lot of experience with the incoming Webhook because we are using the [native Slack inte

[2015-12-22 18:12] mtscout6 commented on #76
We were thinking about using the Webhook callback, but what you are describing sounds a lot simpler. I guess this wouldn't be needed in that case. We use HipChat, and there is an integration for Pager duty there.

[2015-12-22 18:29] mtscout6 commented on #76
I'm going to close this in favor of what you proposed. Thanks for the tip!

[2015-12-22 18:30] #76 closed

[2016-01-08 23:43] technicalpickles commented on #76
I have considered something along these lines too. That is, updating `pager sup|ack|resolve` so they only affect services relevant to the room you are calling them in.

[2016-02-05 02:54] kaesackett commented on #43
We were also having this same issue, @danoc. I eventually ended up requesting the who's on call list one person at a time, appending each result to an array as it came back, and then sending the array as the message. I put in the PR to fix this at its source and made sure to mention this issue.

[2016-02-26 07:26] justdaver opened #82 "am I on call"
Hi All,

For some reason this feature is not returning what I expect it to return. When I run "@mybot am I on call" I get the following response:

[code]

I can verify that in pagerduty my accounts email is dave@example.com. I also tried running "@mybot pager me as dave@example.com" but get the same message.

In pagerduty.coffee I noticed it mentions campfire:
[code]

I'm using Hubot v2.18.0 with

[2016-02-29 16:27] aikram24 commented on #82
Hi,
You will need to tell the bot your email first. Then when you will ask the bot `Am I on call` it will check using your email.
Here is a how you may tell your email to bot:
pager me as username@domain.com

Thanks.
Ali Ikram

[2016-02-29 20:02] aikram24 commented on #82
It works for me few days back, not working anymore.

<img width="1205" alt="screen shot 2016-02-29 at 2 59 43 pm" src="https://cloud.githubusercontent.com/assets/17153448/13407253/73af3fd2-def5-11e5-81e7-5d6d408f8886.png">

[2016-03-01 11:06] justdaver commented on #82
Perhaps something changed in the pagerduty API? Anyone else experiencing this issue?

[2016-03-01 17:02] aikram24 commented on #82
Seems like something change from pagerduty API. According to hubot log, I am see its making the correct call. However not getting anything back.

`[Tue Mar 01 2016 11:59:58 GMT-0500 (EST)] DEBUG Received message: 'Am I on call?' in channel: ali.ikram, from: ali.ikram
[Tue Mar 01 2016 11:59:58 GMT-0500 (EST)] DEBUG Message 'zeus Am I on call?' matched regex //^\s*[@]?zeus[:,]?\s*(?:am i on (call|on

[2016-03-04 06:28] justdaver commented on #82
According to https://developer.pagerduty.com/ the last update to their API was Nov last year. I spoke to support who verified this and said that nothing has changed recently.

I'll try do some research today to see what I can find although my coffee-script & API kung fu is not very strong :)

[2016-03-07 22:42] aikram24 commented on #82
any luck with this?

[2016-03-08 03:10] stephenyeargin commented on #82
Appears to still be working in the shell adapter at least.

- `hubot@v2.16.0`
- `hubot-pager-me@v2.1.13`
- `HUBOT_LOG_LEVEL=debug`

[code]

[2016-03-09 13:48] justdaver commented on #82
Hi Guys,

Apologies for the delay in responding. After some testing I realised I've been dealing with 2 separate problems. The first problem was that my hipchat account email was registered as dave@example.com, whilst my Pagerduty login was dave@example.co.za. This obviously meant that it would never find my user against the Pagerduty API as it was using my incorrect email address to lookup. My ba

[2016-03-19 03:14] aikram24 commented on #82
Hi Dave,
I have tried with those new line it works for me. I am using slack adapter.
Thanks a lot.

[2016-05-05 08:57] #82 closed

[2016-07-14 20:53] augieschwer opened #92 ""who's on call" broke in hubot-pager-me 2.1.14"
Prior to `hubot-pager-me` *2.1.14* the sub-command "_who's on call_" returned the appropriate list of users and schedules, starting at *2.1.14* and beyond an empty set is returned.

[code]

[code]

[code]

[code]

[2016-07-14 21:10] abdelazer commented on #92
Here's more of a stack trace:

[code]

[2016-07-14 22:22] awiddersheim commented on #92
Strange. Everything is working fine for me in `2.1.16`. Though I just noticed @stephenyeargin never bumped the version in `packages.json` when he did some [pull requests](https://github.com/hubot-scripts/hubot-pager-me/pull/90#issuecomment-229675061).

The only change in `2.1.14` was https://github.com/hubot-scripts/hubot-pager-me/commit/c6f15fa713b627f262710d02240c5b70800d1e61 (by me) as far as I

[2016-07-14 22:35] abdelazer commented on #92
We tried 2.1.14, 2.1.15, and 2.1.16 this morning and they all had the same result (no response).

[2016-07-14 22:39] awiddersheim commented on #92
That sucks. Like I said I'm not able to replicate this in other adapters and I don't have access to a Slack channel right now where I can spit PagerDuty output to. Maybe try playing with the code some in the area of the commit I linked to earlier and see where things are falling over.

[2016-07-14 23:17] abdelazer commented on #92
We poked a bit on 2.1.16 and my sense is that the `async.map()` without `results` (the exact change you mentioned) is the culprit. I tried but failed to get it back to the same `async.map schedules, renderSchedule, (err, results) ->` sequence as is used elsewhere.

[2016-07-14 23:32] awiddersheim commented on #92
You should be able to do something like a `console.log(messages)` before the [message gets sent](https://github.com/hubot-scripts/hubot-pager-me/blob/master/src/scripts/pagerduty.coffee#L604) which should send output to the Hubot logs and you can let us know what array has.

Basically, things start off with [an empty array](https://github.com/hubot-scripts/hubot-pager-me/blob/master/src/scripts/pa

[2016-07-15 00:21] awiddersheim commented on #92
Maybe we should just go back to how things worked before https://github.com/hubot-scripts/hubot-pager-me/commit/ef1d84bd6078a6cb9134ac8733c61f9babd3984e. Not really sure what this was trying to solve. The commit message leads me to believe they wanted the schedules to be sent all in one message instead of individual messages but that seems to be how it worked before as well so it's pretty confusin

[2016-07-15 14:14] augieschwer commented on #92
I put some debug code in and you can see in the output that `async.map` is calling `renderSchedule` 11 times for each element of `schedules` and then just falls off the face of the earth. It’s like that call to `async.map` is just a blackhole. Like it might as well just say `return`.

[code]

[code]

[2016-07-15 14:36] stephenyeargin commented on #92
Hmm. Looks like the grunt task failed on a push of the commit/tag that created 2.1.16. That's up to date now. Should affect the code, however -- the only missing commit was the one to bump the JSON. Presumably, what is published to `npm` is up to speed.

[2016-07-15 16:51] awiddersheim commented on #92
@stephenyeargin thanks for getting that fixed. @augieschwer what happens if you apply that diff I posted? That should bring the code back inline with how things were working prior to `2.1.14`. If that is broken then that would be pretty strange as well.

[2016-07-15 18:01] augieschwer commented on #92
@awiddersheim The diff didn't help unfortunately. But I think I found where the bug is, although I don't quite understand why it's a bug. In `withCurrentOncallUser` the last condition is not met for all our schedules if I give it some dummy data it at least returns messages.

[code]

[code]

[2016-07-15 20:13] awiddersheim commented on #92
@augieschwer cool. Looks like you figured it out. Was just about to say no code changes happened in that area that I can tell.

[2016-07-15 20:15] augieschwer commented on #92
The PR handles schedules without a user tied to it by returning `null` up the chain of call backs, and logging a single debug message to record that case.

I'm still not clear why this code seems to make `async.map` happy where the other code did not.

But the output looks how we expect it now.

[code]

Does anyone else have schedules without users attached to them? We use these for being on-call

[2016-07-15 20:28] stephenyeargin commented on #92
Fixed with `v2.1.17`, closed via #93

[2016-07-15 20:28] #92 closed

[2016-07-15 20:38] awiddersheim commented on #92
@augieschwer nope. All of our schedules have someone assigned.

[2016-08-31 08:47] TKonczynski opened #95 "who's on call for XYZ loops if multiple matches exist"
Whenever I type "Who's on call for XYZ", and there are more matches than just XYZ, then the replies loop, displaying +1 entry every time.

Example:

A batch of responses comes, one after another:

...and so on, until it loops through all the possible matches of XYZ

[2016-08-31 14:24] stephenyeargin commented on #95
/cc @awiddersheim

[2016-08-31 15:04] awiddersheim commented on #95
@TKonczynski I guess I'm not sure what you mean by "multiple matches". Can you give a more fleshed out example of what your schedules look like and the responses?

[2016-09-01 06:52] TKonczynski commented on #95
@awiddersheim Sure! :) Let's just elaborate on what I've written with a clearer example.

Let's say I want to check the schedule of a team called 'Utilities', so I go ahead and type

However, there are more teams who have the word Utilities in their names, say, Useful Utilities, Necessary Utilities, Essential Utilities, Expendable Utilities, and so on, so I will get more that one response, because

[2016-09-01 13:45] awiddersheim commented on #95
@TKonczynski thanks for the fleshed out example. I'll take a look and get back to you.

[2016-09-02 09:39] TKonczynski opened #96 "`Pager schedules` returns only the first 100 schedules"
Hello,
whenever I try to get the list of all schedules by running Pager Schedules I only get the first 100 (in 3 messages total: message #1 & #2 = 48 entries each, message #3 = 4 entries). However, we have more than 100 schedules, ca. 150, so not all of them are displayed.

@awiddersheim

[2016-09-02 19:54] stephenyeargin commented on #96
So, I'm going to guess this stems from the underlying library not fully implementing API pagination. #43 has some discussion on that topic. /cc @technicalpickles

[2016-09-03 00:47] awiddersheim commented on #96
I second this.

[2016-09-03 00:55] awiddersheim commented on #95
@TKonczynski unfortunately, I'm no longer in a position where I can really deep dive on this anymore.

There was some deep debugging done on the same code area just recently in https://github.com/hubot-scripts/hubot-pager-me/issues/92. You can start adding some debug statements and some of the stuff in that issue might help you in doing that.

Might also want to try this diff in particular https:/

[2016-09-07 07:07] TKonczynski commented on #95
Thank you for you response, I'l look up #92

[2016-09-19 13:16] mcg opened #98 "Support for v2 API?"
Looks like the v1 API will be going away July 6, 2017(https://v2.developer.pagerduty.com/v2/docs/api-v2-frequently-asked-questions). Any hope that for v2 support before then?

[2016-09-19 16:48] mcg commented on #95
I have this same looping behavior. The diff referenced in #92 does fix the issue for me.

[2016-09-19 16:51] awiddersheim commented on #95
@mcg which diff specifically?

[2016-09-19 16:52] mcg commented on #95
https://github.com/hubot-scripts/hubot-pager-me/issues/92#issuecomment-232828988

[2016-09-19 16:53] awiddersheim commented on #95
@mcg great thanks. That diff is basically a rollback of https://github.com/hubot-scripts/hubot-pager-me/pull/79.

[2016-10-17 19:29] zleswomp opened #99 "Doesn't seem to support spaces in the name of a schedule"
Asking `pager schedules` returns a list of schedules fine, but running `pager me Ops Level 2 Schedule 1` or `pager me Ops\ Level\ 2\ Schedule 1` or `pager me "Ops Level 2 Schedule 1"` or `pager me "Ops\ Level\ 2\ Schedule" 1` all fail to find the correct schedule.  The obvious answer is to rename our schedules, but a fix here would keep me from having to make that change across are numerous schedu

[2016-10-17 19:36] awiddersheim commented on #99
This kind of does this https://github.com/hubot-scripts/hubot-pager-me/pull/89 maybe not with schedules but could use it as a blueprint to maybe contribute what you need.

[2016-10-17 20:07] zleswomp opened #100 "Incorrect PD API call?"
When I run `pager my schedule` I get a stacktrace that looks like the following:

[code]

I'm only guessing, but I think that call should be `/schedules#AAAAAAA/entries`.  If not an incorrect API call, what have I done wrong?

[2016-11-28 22:58] AnudeepReddyJ21 opened #101 "Doesn't return on-call schedule"
Hi,

When I command Hubot 'who's on call', I get a 404 back from schedules. The other commands are working fine. I have pasted my error below.

ERROR Error: 404 back from /schedules/XXXXXXX/entries
  at PagerDutyError.Error (native)
  at new PagerDutyError (/Users/duolingo4/customhubot2/node_modules/hubot-pager-me/src/pagerduty.coffee:10:1, <js>:26:51)
  at /Users/duolingo4/customhubot2/node_modul

[2016-11-29 16:25] AnudeepReddyJ21 commented on #101
Hi,

Sorry the issue is I created a v2 API key instead of v1. Once I created the v1 key, it worked.

Thanks,

Anudeep

[2016-11-29 16:25] #101 closed

[2016-11-29 16:28] stephenyeargin commented on #98
/cc #101 , because it caused issues.

[2016-11-29 16:29] stephenyeargin commented on #100
Discovered in #101 that this Hubot plugin requires a V1 key until #98 lands. Closing this off in favor of #98.

[2016-11-29 16:29] #100 closed

[2016-12-20 09:26] DonEmil opened #102 "Problem retrieving user email"
I have used this script before and:

`email  = msg.message.user.pagerdutyEmail || msg.message.user.email_address`

used to work and picked up Slack users emails from `msg.message.user.email_address`

I recently changed bot and it no longer works, it seems as if `msg.message.user.email_address` returns "undefined"

[2016-12-20 11:01] #102 closed

[2016-12-20 11:02] DonEmil commented on #102
changed `msg.message.user.email_address` to `msg.message.user.profile.email` which fixed it

[2016-12-20 18:55] stephenyeargin commented on #102
Hmm. The `slack` adapter (or Hubot core) should be disambiguating this as much as possible so that there is One True Way™ to get the email address for a user.

[2016-12-21 12:32] DonEmil commented on #102
I think it depends on what version of slack adapter you use, the newer one (^4.0.0) requires `msg.message.user.profile.email`

[2017-09-15 14:52] ant-clarauk opened #105 "No response given for invalid issue numbers"
When triggered with an invalid/non existent issue number while adding notes eg `pager note 999999 chicken on fire` Hubot does not respond in the chat/channel to say there's been an issue adding the note.

 While there's no response given by hubot in the channel an http 400 error message is seen in the hubot logs:

[code]

[2017-09-15 15:16] stephenyeargin commented on #105
My guess is that the `return` from `err` allows the bot to emit the error, but doesn't provide user feedback. As this pattern happens elsewhere in the code, it might not be isolated to notes.

https://github.com/hubot-scripts/hubot-pager-me/blob/c89cec0203033b8382db900bc021350f2f1bad48/src/scripts/pagerduty.coffee#L292-L300

[2017-09-15 15:31] ant-clarauk commented on #105
Looks like notes, overrides and maintenance_windows may also be affected as the use the pagerduty.post function.

The post function in the pagerduty module is expecting a 201 response from PD:

https://github.com/hubot-scripts/hubot-pager-me/blob/master/src/pagerduty.coffee#L83-L87

whats best to do here; fix it now or wait for the API V2 stuff to come through ?

[2017-09-15 16:08] stephenyeargin commented on #105
I actually don't have a PagerDuty login anymore, so I personally can't develop against it. Whatever V2 work would probably encounter the same issue unless it was refactored entirely.

[2017-10-02 18:33] tcampbell opened #106 "`.pager` failed to find the issue it just created"
`.pager` (failed)[https://github.slack.com/archives/C0FNNUEV7/p1506935351000307] to page, saying it could not find the incident it just thought it created:

[code]

Alerting should not fail like this.  They had to page the oncaller directly (by name).  We need to determine the root cause of this failure and the actual error rate **and** look into what kind of retries/queuing we can do to ensure de

[2017-10-02 18:34] tcampbell commented on #106
/cc @sre-lifecycle

[2017-10-02 18:41] tcampbell commented on #106
Errors:

The recent incident that made us notice:
- https://github.slack.com/archives/C0FNNUEV7/p1506935358000362
- https://github.slack.com/archives/C0FNNUEV7/p1506935332000325
- https://github.slack.com/archives/C0FNNUEV7/p1506935272000277
- https://github.slack.com/archives/C0FNNUEV7/p1506935151000145

Earlier instances
- 2017-09-08 https://github.slack.com/archives/C1AH2A4R2/p1504896193000293

[2017-10-02 18:42] stephenyeargin commented on #106
@tcampbell Not 100% on this one, but I was under the impression from various conversations that :octocat: used a completely different implementation of this script.

[2017-10-02 18:43] tcampbell commented on #106
https://github.com/hubot-scripts/hubot-pager-me

[2017-10-02 18:43] tcampbell commented on #106
@stephenyeargin uh oh, really?  this seemed like the most accurate place for this command.  I admit having a hard time finding the correct repo.

[2017-10-02 18:52] #106 closed

[2017-10-11 16:05] max-l-weaver opened #107 "Duplicated output"
We seem to be having an odd issue with our hubot-pager-me integration where query responses are returned twice:
![ss-hubot-pd](https://user-images.githubusercontent.com/22293003/31451820-0c8a4834-aea5-11e7-9fd7-23cc22adb26d.png)

[code]

We're running hubot in a Marathon container and all dependencies are met.
We use Slack to query Hubot
I have also ensured that the API token points to a legacy AP

[2017-10-12 14:22] #107 closed

[2017-11-10 10:58] auduny opened #109 "HUBOT_PAGERDUTY_SERVICES seems to not work"
Hi.

I've added HUBOT_PAGERDUTY_SERVICES to limit hubot to report on only one service

But "who's on call?" still returns all on-call schedules? Is that intentional?

[2018-03-28 00:41] jbaldo commented on #98
Hi, just giving this issue a bump. Is there any interest in upgrading to use the PagerDuty v2 REST API.

The deadline has been pushed out as follows:
- Starting April 24 :: ability to generate new v1 API keys is turned off
- On October 19 :: v1 REST API is decommissioned

[2018-03-28 03:54] stephenyeargin commented on #98
I'm no longer working for a group with a PD account, but I would be happy to review code and offer advice.

[2018-04-12 02:08] jbaldo commented on #98
@pcoorie awesome! do you have a PR somewhere? @stephenyeargin if you start a trial account and need and need an extension to review, I can help with that.

[2018-04-16 03:46] pcoorie commented on #98
Hi @jbaldo and @stephenyeargin
https://github.com/pcoorie/hubot-v1/pull/1/files

[2018-05-04 19:52] silverp1 commented on #98
@pcoorie I'll take a look at your PR next week probably, I'd like to help get this across the finish line soon-ish.

[2018-06-21 19:24] mwarkentin commented on #98
Doesn't look like you can create V1 API tokens anymore - any word on if v2 support will be landing at some point?

[2018-06-21 19:54] silverp1 commented on #98
@mwarkentin I've been working on this off and on, still has a bit to go unfortunately.

[2018-06-21 20:03] mwarkentin commented on #98
@silverp1 thanks for the update - is there a PR we should keep an eye on or just monitor this issue for updates?

[2018-06-21 20:04] silverp1 commented on #98
@mwarkentin I'll open up a PR once I have something reasonable, things are mostly broken at the moment so it doesn't seem worth while.

[2018-07-04 14:29] biggless commented on #98
https://github.com/hubot-scripts/hubot-pager-me/pull/111

[2018-07-11 14:01] stephenyeargin commented on #98
@biggless Added some notes on the PR. I apologize that this has taking so long after you've put so much effort into getting it going.

[2018-07-14 00:18] stephenyeargin commented on #98
Calling this one finished with `v3.0.0`.

https://github.com/hubot-scripts/hubot-pager-me/releases/tag/v3.0.0

[2018-07-14 00:18] #98 closed

[2018-11-20 21:17] eldios commented on #109
any news on this? I'm having the same behavior almost a year later.

[2018-11-20 21:21] stephenyeargin commented on #109
Schedule call lands here:

https://github.com/hubot-scripts/hubot-pager-me/blob/75fbe3060cf92bd2421f18c1ed2f06f9dd7186c1/src/pagerduty.coffee#L132-L142

Which supposedly appends a query string here:

https://github.com/hubot-scripts/hubot-pager-me/blob/75fbe3060cf92bd2421f18c1ed2f06f9dd7186c1/src/pagerduty.coffee#L36-L37

That last bit may not match the on-call endpoint, so that's what would need

[2018-11-20 22:11] eldios commented on #109
Is seems that the problem is that the check on line 36 is checking for incident while the `who's on call` command uses the `/schedules` link. One further level of problem is that the HUBOT_PAGERDUTY_SERVICES is specifying "services" as the name implies, so a further check would be needed in order to understand what "schedules" to query.

[2018-11-21 23:50] eldios commented on #109
Trying to propose a different approach here with a little addition:

https://github.com/hubot-scripts/hubot-pager-me/pull/117

[2018-11-21 23:51] eldios commented on #109
@stephenyeargin could you please take a look? If that's a reasonable feature we may work on expanding the same approach to all the other commands.

[2018-11-22 05:29] stephenyeargin commented on #109
Yep, I think this would be fine. Thanks for working on it. Left a request for some documentation updates.

[2018-11-25 22:06] stephenyeargin commented on #109
Closed via #117

[2018-11-25 22:06] #109 closed

[2018-11-27 20:01] RussellRollins opened #118 "No oncalls returns if `HUBOT_PAGERDUTY_SCHEDULES` is unset"
I believe this issue was introduced in: https://github.com/hubot-scripts/hubot-pager-me/pull/117

If the `HUBOT_PAGERDUTY_SCHEDULES` environment variable is unset, `allowed_schedules` is an empty array.

I think the intention of the line:

[code]

Is to allow _all_ results if the environment variable is unset, however, the !allowed_schedules check is not truthy for empty arrays:

https://repl.it/r

[2018-11-27 20:05] stephenyeargin commented on #118
My fault in the code review. 🐼 We were looking towards the completion of the new filters, but I forgot to guard backwards compatibility.

[2018-11-27 20:10] stephenyeargin commented on #118
There's also another issue -- if a schedule doesn't have a person assigned to it, it will come through the list regardless.

[2018-11-27 20:15] RussellRollins commented on #118
@stephenyeargin no worries, caught the issue today when a hubot got automatically upgraded. I'm happy to open a PR to fix the first issue, but I'm not sure I fully understand the second.

[2018-11-27 20:33] #118 closed

[2018-11-27 20:35] stephenyeargin commented on #118
Released in [v3.1.1](https://github.com/hubot-scripts/hubot-pager-me/releases/tag/v3.1.1)

[2019-01-02 19:23] xofer opened #125 "Incidents reassigned to HUBOT_PAGERDUTY_FROM_EMAIL"
I may be confused about how this should work.

When I am on call, new incidents are assigned to me, naturally. But when I `misty pager ack`, they are reassigned to the user with `HUBOT_PAGERDUTY_FROM_EMAIL`. See below (our hubot is called misty):

![screenshot_20190102_141752](https://user-images.githubusercontent.com/1231804/50608061-54fa8480-0e99-11e9-94cd-c17739613edf.png)

According to the v1

[2019-01-02 20:23] xofer commented on #125
Based on experience and what's in the docs (linked above and quoted below), PD API v2 will reassign incidents to the user specified in the `From` header.

[2019-01-17 18:40] biggless commented on #125
There is possible problem when Slack email doesn't match PagerDuty email. Is it ok in such cases to fallback to static email from config?

[2019-01-18 10:07] steve-stonehouse commented on #125
IMO it would be better for a message to be returned to the user saying that the email doesn't match. The API returns a `400` with a body of `{"error":{"message":"Requester User Not Found","code":1008}}` so should be possible.

[2019-02-26 04:28] hanpeter opened #129 "Limit commands"
Is it possible to limit commands that this integration offer?

Currently testing out `pager-me` integration for my Hubot instance.
There are incredible amount of commands that allows me to do anything and everything I can think of.

However, the `@hubot help` list is also daunting.
My team currently uses Icinga2 to do all the monitoring work.
Our workflow is to acknowledge and resolve incidents th

[2019-06-07 01:20] stephenyeargin commented on #125
@xofer @steve-stonehouse @biggless So is there a chance that #130 might address this?

[2019-07-01 10:49] nobert commented on #125
I can confirm that #130 fixed this problem for us. (I forked this repo and merged a duplicate of #130 to my fork, then included my branch in `package.json`. I believe including `goodeggs/hubot-pager-me#fix-trigger-escalation-policy` will do the same.

Note that we had two separate problems: one was an incorrectly set `HUBOT_PAGERDUTY_FROM_EMAIL`, and the second was fixed by #130. They both resulte

[2019-07-04 14:27] #95 closed

[2019-07-04 14:40] stephenyeargin commented on #125
Fix released in `v3.1.3`

[2019-07-04 14:40] #125 closed

[2021-08-31 16:48] Avipatil9146 opened #191 "Hello world"
Initialize this repository with a README

[2021-08-31 18:06] stephenyeargin commented on #191
This appears to have been opened in error.

[2021-08-31 18:06] #191 closed